* {
  font-family: "Departure Mono", "FiraCode Mono Nerd Font";
  font-size: 14px;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
window#waybar {
  background-color: #000000;
}
#workspaces {
  background-color: transparent;
}
#workspaces button {
  padding: 3px 18px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  background-color: #262626;
  color: #ffffff;
}
#workspaces button.focused {
  color: #000000;
  background-color: #ffffff;
}
#workspaces button:not(.occupied):not(.focused) {
  color: #000000;
  background-color: #000000;
}
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#cpu,
#memory,
#temperature,
#disk,
#tray {
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #000000;
}
#mpris {
  padding: 3px 18px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}
#battery {
  background-color: #ffffff;
  color: #000000;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #cc0000;
  color: #000000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #00cc00;
  color: #000000;
}
#network {
  padding-right: 17px;
}
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}
tooltip label {
  padding: 5px;
  background-color: #131822;
}