@define-color darkest #333333;
@define-color darker #4c4c4c;
@define-color base #656565;
@define-color lighter #7e7e7e;
@define-color lightest #979797;

* {
    font-family: "Departure Mono", "FiraCode Mono Nerd Font";
    font-size: 11px;
    background-color: transparent;
}

/* Base styles */
window#waybar {
    background-color: #000000;
    border-radius: 0 0 4px 4px;
}

/* Common module styling */
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#cpu,
#temperature,
#disk,
#mpris,
#tray {
    margin: 4px 2px;
    padding: 2px 4px;
    border-radius: 2px;
    color: @lightest;
}

/* Hide unused dwl tags */
#tags button:not(.occupied):not(.focused) {
    color: #000000;
}

/* Workspace button styling */
#tags button,
#workspaces button {
    all: initial;
    min-width: 0;
    padding: 4px 4px;
    border-radius: 6px;
    color: @base;
}

#tags button.focused,
#workspaces button.active,
#workspaces button.focused {
    color: @lightest;
}

/* Special module styling */
#mpris {
    background-color: #a8aaab;
    color: #5d5f60;
}

#battery {
    margin-right: 8px;
}

#clock {
    margin: 4px 0 4px 16px;
    margin-right: 4px;
    padding: 4px 8px;
    border-radius: 0;
    background-color: @base;
    color: @lightest;
    border: 2px solid;
    border-color: @darkest @lighter @lighter @darkest;
    box-shadow: inset -1px -1px 0px @darkest, inset 1px 1px 0px @lighter;
    font-weight: normal;
}