/* Common module styling */
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#cpu,
#temperature,
#disk,
#mpris,
#tray {
    margin: 2px 1px;
    padding: 3px 6px;
    border-radius: 0;
    color: @text;
    background-color: @base;
    border: 1px solid;
    border-color: @lightest @darkest @darkest @lightest;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1), -1px -1px 0px rgba(0, 0, 0, 0.3);
    font-weight: normal;
}

/* Special module styling */
#mpris {
    background-color: @base;
    color: @text;
    border: 1px solid;
    border-color: @lightest @darkest @darkest @lightest;
}

/* #tags button */
#tags button {
  all: initial;
  min-width: 0;
  padding: 4px 8px;
  border-radius: 0;
  color: @text;
  background-color: @base;
  border: 1px solid;
  border-color: @lightest @darkest @darkest @lightest;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1), -1px -1px 0px rgba(0, 0, 0, 0.3);
  margin: 2px 1px;
}

#tags button.focused {
  color: @text;
  border-color: @darkest @lightest @lightest @darkest;
  box-shadow: -1px -1px 0px rgba(255, 255, 255, 0.1), 1px 1px 0px rgba(0, 0, 0, 0.3);
}

#clock {
    margin: 2px 1px 2px 16px;
    padding: 4px 8px;
    border-radius: 0;
    background-color: @base;
    color: @text;
    border: 1px solid;
    border-color: @lightest @darkest @darkest @lightest;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1), -1px -1px 0px rgba(0, 0, 0, 0.3);
    font-weight: normal;
}
